.home-background-container-day-mode {
    background: url(https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 110% 120vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-background-container-night-mode {
    background: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 110% 120vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-container-night-mode .home-header {
    color: white;
}

.home-container {
    z-index: 1;
    margin: auto;
    margin-top: 30vh;
    border-radius: 20px;
    min-width: 400px;
    padding: 20px;
    width: 30%;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.home-header {
    font-weight: bold;
}