body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-container {
  text-align: center;
}

.white-content {
  color: white;
}

.slow-transition-container {
  opacity: 1;
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: fadeIn;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
